@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --h-header: 60px;
    }
    button,
    input {
        @apply outline-none;
    }
}

@layer components {
    .editor-input ul li {
        @apply ml-6 list-disc;
    }
    .editor-input ol li {
        @apply ml-6 list-decimal;
    }

    .editor-placeholder {
        @apply pointer-events-none absolute top-2 left-3 inline-block select-none overflow-hidden text-ellipsis text-gray-600;
    }

    .editor-text-bold {
        @apply font-semibold;
    }
    .editor-text-italic {
        @apply italic;
    }
    .editor-text-underline {
        @apply underline;
    }
    .editor-text-strikethrough {
        @apply line-through;
    }
    .editor-text-code {
        @apply rounded-sm bg-gray-200 py-[1px] px-[3px] text-sm;
        font-family: Menlo, Consolas, Monaco, monospace;
    }

    .editor-code {
        font-family: Menlo, Consolas, Monaco, monospace;
        @apply relative my-2 block max-h-[500px] overflow-x-auto whitespace-pre bg-gray-50 py-2 pr-8 pl-12 text-sm;
        tab-size: 2;
    }

    .editor-code:before {
        content: attr(data-gutter);
        @apply absolute left-0 top-0 min-w-[24px] whitespace-pre-wrap border-r bg-gray-100 p-2 text-right text-gray-600;
    }
    .editor-code:after {
        content: attr(data-highlight-language);
        @apply absolute top-0 right-1 p-1 text-xs uppercase text-gray-900;
    }

    .editor-tokenComment {
        color: slategray;
    }

    .editor-tokenPunctuation {
        color: #999;
    }

    .editor-tokenProperty {
        color: #905;
    }

    .editor-tokenSelector {
        color: #690;
    }

    .editor-tokenOperator {
        color: #9a6e3a;
    }

    .editor-tokenAttr {
        color: #07a;
    }

    .editor-tokenVariable {
        color: #e90;
    }

    .editor-tokenFunction {
        color: #dd4a68;
    }

    .tree-view-output {
        @apply relative block max-h-[250px] overflow-auto whitespace-pre-wrap bg-gray-800 p-1 text-xs leading-4 text-white;
    }
    .debug-timetravel-panel {
        @apply m-auto flex overflow-hidden pb-3;
    }
    .debug-timetravel-button {
        @apply absolute top-3 right-4 hover:underline;
    }
    .debug-timetravel-panel-slider {
        @apply flex-[8];
    }
    .debug-timetravel-panel-button {
        @apply flex-1 hover:underline;
    }
}
